<turbo-stream action="replace" target="messages">
  <template>
    <div id="message_1">This changes the existing message!</div>
  <button><%= link_to 'Back', :back%></button>
  </template>
</turbo-stream>
